.contactPic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap ;
    width: 100vw;
    max-width: 65rem;
}

.ContactImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right:2rem;
    


}

.ContactAll {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contactFace {
    color: white;
}