.contactPic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap ;
    width: 100vw;
    max-width: 65rem;
}

.ContactImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;

}