*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Lato',sans-serif;
}
body {
    background: #001A65;
    color: #49E4EE;
    overflow: hidden;
    overflow-y: scroll;
}