*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body {
    background: #A569BD;
    color: aliceblue;
    overflow: hidden;
    overflow-y: scroll;
}